<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<data-source>
		<name>java:global/credit-module-wallet</name>
		<class-name>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</class-name>

<!-- 	 <server-name>${ENV=DB_HOST}</server-name>
		<port-number>3306</port-number>
		<database-name>credit_module</database-name>
		<user>${ENV=JDBC_USER}</user>
		<password>${ENV=JDBC_PASSWORD}</password> -->


		<server-name>mysql</server-name>
		<port-number>3306</port-number>
		<database-name>credit_module</database-name>
		<user>root1</user>
		<password>kl,m2we3</password>

		<!-- <server-name>127.0.0.1</server-name> -->
		<!-- <port-number>3307</port-number> -->
		<!-- <database-name>tx_poc</database-name> -->
		<!-- <user>root</user> -->
		<!-- <password>123456</password> -->

		<!-- <server-name>${ENV=DB_HOST}</server-name> <port-number>3306</port-number> 
			<database-name>tx_poc</database-name> <user>${ENV=JDBC_USER}</user> <password>${ENV=JDBC_PASSWORD}</password> -->

		<property>
			<name>fish.payara.slow-query-threshold-in-seconds</name>
			<value>5</value>
		</property>
		<property>
			<name>fish.payara.log-jdbc-calls</name>
			<value>true</value>
		</property>
		<property>
			<name>fish.payara.is-connection-validation-required</name>
			<value>true</value>
		</property>
		<property>
			<name>fish.payara.connection-validation-method</name>
			<value>custom-validation</value>
		</property>
		<property>
			<name>fish.payara.validation-classname</name>
			<value>org.glassfish.api.jdbc.validation.MySQLConnectionValidation</value>
		</property>
	</data-source>

</web-app>